@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutFarm.cshtml";

}

<link rel="stylesheet" href="~/css/cssfarm/index_user.css">
<link rel="stylesheet" href="~/css/cssfarm/profile_user.css">

<link rel="stylesheet" href="~/css/cssfarm/test.css">

<main>
    <section class="py-5 my-5">
        <div class="container">
            <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                <div class="profile-tab-nav border-right">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">
                            <img src="../img/2.jpg" alt="Image" class="shadow">

                        </div>
                        <h4 class="text-center">Lemon Tree</h4>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link " asp-action="Profile" aria-selected="true">
                            <i class="fa fa-home text-center mr-1"></i>
                            Account
                        </a>
                        <a class="nav-link" asp-action="ChangePassword" aria-selected="false">
                            <i class="fa fa-key text-center mr-1"></i>
                            Password
                        </a>

                        <a class="nav-link" asp-action="JoinCooperative" aria-selected="false">
                            <i class="fa fa-star text-center mr-1"></i>
                            Join Code
                        </a>

                    </div>
                </div>
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" role="tabpanel"
                         aria-labelledby="account-tab">
                        <h3 class="mb-4">Account Settings</h3>
                        <form asp-action="ChangePassword">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Old password</label>
                                        <input type="password" name="Oldpassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
                                               oninvalid="this.setCustomValidity('nhập pass sai format')"
                                               oninput="this.setCustomValidity('')" class="form-control">
                                        @if (@ViewBag.Oldpassword != null)
                                        {
                                            <div style="color:red">@ViewBag.Oldpassword</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input type="password" name="Newpassword" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
                                               oninvalid="this.setCustomValidity('nhập pass sai format')"
                                               oninput="this.setCustomValidity('')" class="form-control">
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Confirm new password</label>
                                        <input type="password" name="Confirmpassword" required class="form-control">
                                                @if (@ViewBag.Newpassword != null)
                                        {
                                            <div style="color:red">@ViewBag.Newpassword</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn-area btn-primary">Update</button>
                                <button type="submit" class="btn_area btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </section>






</main>
